body{
    background-color: #000000;
    color:white;
   // position:fixed;
}

#head{
    color:white;
    padding-top: 0em;
    padding-left: 3em;
}

#score{
    color:white;
}

p{
    word-wrap:break-word;
    width:1200px;
}

#die{
    position:fixed;
    color: black;
    float:left;
    height:80px;
    width:100px;
    background:#F5F5F5;
    border:#999 1px solid;
    border-radius:25px;
    padding:10px;
    font-size:60px;
    font-family: verdana;
    text-align:center;
}

#resetButton{
    width:100px;
    height:30px;
    border-radius: 20px;
    position:absolute;
    top: 620px;
    left:850px; 
}

#rollButton{
    width:100px;
    height:30px;
    border-radius: 20px;
    position:relative;
    left: 175px;
}




#score{
    position:relative;
    left:175px;
}
  
div.dice{
    position:fixed;
    top:350px;
    left:80px;
}

#scoreBoard{
    position: fixed;
    top:180px;
    left:100px;
}